body{
    background-image: url(background.jpg);
}

#cim{
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    height: 40%;
    width: 40%;
    background-color: white;

    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list-group{
    margin-bottom: 20px;
}

a,a:active,a:link,a:hover,a:visited{
    text-decoration: none;
}

#fejlec{
    height: 200px;
    width: 100%;
}

/*  */

#keret{
    background-color: white;
    padding: 25px;
    position: relative;
    width: 100vw;
}

h1{
    font-weight: bold;
}

#spacing{
    height: 20px;
}

/* */

#lablec{
    margin-top: 20px;
    width: 100vw;
    padding: 15px;
    background-color: white;

    text-align: center;
}